.title{
    font-family: sans-serif;
    color: #333;
}
p{
    font-size: 12px;
}
.main-conteiner{
    width: 80%;
    margin: 10px auto;
}
button {
    border: none;
    border-radius: 6px;
    background-color: #E0E0E0;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    font-size: sans-serif;
    color: #3F3F3F;
    font-size: 14px;
    display: inline-block;
}
button:hover, button:focus {
    background-color: #aeaeae;
}

.outline {
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
    background-color: transparent;
}

.outline:hover, .outline:focus, .text:focus, .text:hover {
    background-color: #2962ff1a !important;
}

.text {
    border: 1px solid transparent;
    background-color: transparent !important;
    color: #3D5AFE;
}

.disableShadow {
    box-shadow: none !important;
    background-color: #3D5AFE;
    color: #fff;
}

.disabled {
    background-color: #E0E0E0;
    color: #9E9E9E;
}

.disabled:hover {
    background-color: initial !important;
    cursor: not-allowed;
}
.starticon{
    color: #fff;
    background-color: #0039CB;
}
.endicon{
    color: #fff;
    background-color: #0039CB;
}
.endicon:hover, .starticon:hover{
    background-color: #2e69ff;
}

.default-size {
    padding: 5px 10px;
}

.medium-size {
    padding: 10px 15px;
}

.big-size {
    padding: 15px 20px;
}

.default-color, .primary-color, .second-color, .danger-color {
    color: #fff !important;
    border: none !important;
}

.default-color {
    background-color: #9E9E9E;
}

.primary-color {
    background-color: #2962FF;
}

.second-color {
    background-color: #455A64;
}

.danger-color {
    background-color: #D32F2F;
}

.default-color:hover, .default-color:focus {
    background-color: #AEAEAE;
}

.primary-color:hover, .primary-color:focus {
    background-color: #0039CB;
}

.second-color:hover, .second-color:focus {
    background-color: #1C313A;
}

.danger-color:hover, .danger-color:focus {
    background-color: #9A0007;
}
.row{
    margin: 2rem auto;
    font-family: sans-serif;
}
.button-sizes{
    display: flex;
}
.button-sizes .element{
    margin: 0 10px;
}
.button-colors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.button-colors button{
    display: inline-block;
}