@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    font-family: 'Sansita Swashed', sans-serif;
    color: #333;
}
p{
    font-size: 1rem;
    font-family: Poppins, sans-serif;
}
.main-conteiner{
    width: 80%;
    margin: 1rem auto;
    flex: auto;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-container label {
    color: #333;
    margin: 0.5rem 0;
    font-family: 'Sansita Swashed', sans-serif;
}
.input-container p {
    color: #333;
    margin: 0.5rem 0;
    font-family: 'Sansita Swashed', sans-serif;
}
.input-area{
    display: flex;
    align-items: center;
    flex: auto;
}
.input-container input {
    border: 1px solid #828282;
    border-radius: 0.8rem;
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    transition: 0.5s;
    font-size: Poppins, sans-serif;
    color: #3F3F3F;
    font-size: 1.2rem;
    display: inline-block;
}

.input-error label{
    color: #D32F2F;
}
.input-error input{
    border-color: #D32F2F;
}
.input-error p{
    color: #D32F2F;
}
.input-error:hover label{
    color: #333;
}
.input-error:hover input{
    border-color: #828282;
}
.input-error:hover p{
    color: #333;
}
.input-error:focus{
    color: #D32F2F;
}
.input-error:focus input{
    border-color: #D32F2F;
}
.input-error:focus p{
    color: #D32F2F;
}

.disable{
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important;
    cursor: not-allowed;
}
.disable:hover {
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important;
}
.disable:focus {
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important;
}

.start-icon{
    color: #333;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.end-icon{
    color: #333;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.sm{
    padding: 0.5rem 0.1rem !important;
}

.md{
    padding: 1rem 0.5rem !important;
}

.full-width{
    display: block;
    width: 100% !important;
    flex: auto !important;
}
.row{
    margin: 2rem 0;
    border-top: 1px dashed #929292;
}
.description{
    padding: 1rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.228);
    border-radius: 1rem;
}